<!DOCTYPE html>
<html lang="en">
<head>
    <title>Study Logger</title>  
</head>
<body>
    <h1>Write ur study sessions</h1>
    <form action="/log" method="post">
        
        <label>Subject:</label>
        <select name="subject">
            <option>Physics</option>
            <option>Chemistry</option>
            <option>Mathematics</option>
            <option>Biology</option>
            <option>History</option>
            
        </select>
        <br><br>

        <label>Time Spent (hours):</label>
        <input type="number" name="time_spent" required><br><br>

        <label>Time of Day:</label>
        <select name="time_of_day">
        <option>Morning</option>
        <option>Afternoon</option>
        <option>Evening</option>
        <option>Night</option>
        </select>
        <br><br>

        <label>Mood / Energy:</label>
        <input type="text" name="mood"><br><br>

        <label>Effective?</label>
        <select name="effective">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    <br><br>

    <button type="submit">Save Session</button>
    </form>

</body>